<!DOCTYPE html>
<html>
<head>
    <meta charset= "UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Faculdade Impacta Tecnologia</title>    
    
    

</head>
<body>
       
        
    <body background = /static/images/stars.jpeg> 
    
    <div class ="menu">
        <ul>
            <img src="{% static 'fonts/logoimpacta.png' %}">
            <li><a href ="{% url 'home' %}">Home</a></li>
            <li><a href = "{% url 'cadastro' %}">Cadastro</a></li>
            <li><a href = "{% url 'listaCurso' %}">Cursos</a></li>
			<li><a href = "{% url 'login' %}">Login</a></li>
        </ul>


        <div class="conteudo">

        


        </div>


</body>
</html>